.Dark .accordion-button {
  background-color: rgb(50, 50, 50);
  color: white;
}
.Dark .accordion-button:not(.collapsed) {
  background-color: rgb(50, 50, 50);
}

.Dark .accordion-item {
  background-color: rgb(50, 50, 50);
  border: 1px solid rgb(80, 80, 80);
  color: white;
}

.Dark .collapsed {
  color: white;
}
